.wrapper {
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 3px;
  background-color: rgb(255, 215, 215);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
