.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .startWrapper {
    width: clamp(200px, 70%, 400px);
    margin: 0 auto;
    padding: 1em;
  }
}
